{% extends "pzwla_events/skeleton.html" %}
{% load i18n staticfiles sekizai_tags cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/bootstrapfixes.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}pzwla_events/styles/main-timeline.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/timeline.css">
{% endblock extra_css %}

{% block events-content %}
<div class="panel panel-default">
    <div class="panel-heading"><b>DO POBRANIA</b></div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-6">Rodzaj statystyki</th>
                    <th class="col-md-3 text-center">Ostatnia modyfikacja</th>
                    <th class="col-md-2 text-center">Liczba plików</th>
                </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                <tr>
                    <th class="col-md-1"><img src="{{ folder.get_folder_icon }}"/></th>
                    <th class="col-md-6"><a href="/pliki/subfolder/{{ folder.id }}/">{{ folder.name }}</a></th>
                    <th class="col-md-3 text-center">{{ folder.modified_at }}</th>
                    <th class="col-md-2 text-center">{{ folder.file_count }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock events-content %}
