{% extends "pzwla_base.html" %}
{% load i18n staticfiles sekizai_tags cms_tags menus zawody_extras %}

{% block content %}

    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/counter.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/next-meeting.css">
    {% endaddtoblock %}

    <div class="row">
        <!-- LEFT MARGIN -->
        <div class="col-md-1"></div>
        <!-- MAIN CONTENT -->
        <div class="col-md-7">
            {% block events-content %}
            {% endblock events-content %}
        </div>
        <!-- SIDEBAR -->
        <div class="col-md-3">
            {% show_files_menu %}
            {% show_next_meetings %}
            {% block next-meetings %}
            {% endblock next-meetings %}
        </div>
        <!-- RIGHT MARGIN -->
        <div class="col-md-1"></div>
    </div>

{% endblock content %}